<nav class="navbar navbar-expand-lg navbar-light   m-0 p-2" style="background-color: #e3f2fd ; ">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#"><img id="logo" src="../../uploads/logo1.png" style="width:200px;"></a> -->
        <a class="navbar-brand" href="#"><img id="logo" src="../../uploads/cosclogo.jpg" style="width:28px;"></a>
       <h5 class="pe-4 text-dark">CBIT COSC</h5>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <li class="nav-item">
    <a class="nav-link  fs-6 fw-bold" aria-current="page" style="font-family: Arial, Helvetica, sans-serif;" href="admin_home" >Reg Event</a>
  </li>
  <li class="nav-item">
      <a class="nav-link  fs-6 fw-bold" aria-current="page" style="font-family: Arial, Helvetica, sans-serif;" href="admin_addstudent" >Reg Student</a>
  </li>
  <li class="nav-item">
      <a class="nav-link fs-6 fw-bold" aria-current="page" style="font-family: Arial, Helvetica, sans-serif;" href="admin_addmentor" >Reg Mentor</a>
  </li>
            </ul>
            <ul class="navbar-nav me-2">
                <li class="nav-item dropdown">
                    <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <li class="nav-item">
                      <a class="nav-link fs-6 fw-bold me-2" onClick="if(!confirm('Is it okay to signout ?')){return false;}" style="font-family: Arial, Helvetica, sans-serif;" href="/">  <i class="fa fa-sign-out" aria-hidden="true"></i>  Signout</a>
                    </li></a>
                    
                </li>
            </ul>
        </div>
    </div>
  </nav>
  
